.card {
    padding: 0 0 2em 0;
    margin: .5em;
    width: 280px;
    background-color: rgb(208, 203, 218);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border: 1.7px solid rgb(148, 87, 218);
    border-radius: 8px;
    transition: .2s;

    cursor: pointer;
}

.card:hover{
    transform: scale(1.1);
}

.capa{
    width: 100%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.card h2, 
.favorite{
    padding: 0 1em;
}

.favorite{
    width: 20px;
}

.link{
    text-decoration: none;
    text-align: left;
}