.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  padding: 2rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #232424;
}

.footer p {
  font-weight: 400;
  font-size: 16px;
  color: white;
  margin: 0;
  text-align: center;
}

@media (max-width: 480px) {
  .footer {
    padding: 1.5rem 1rem;
  }

  .footer p {
    font-size: 14px;
  }
}