:root{
  --fonte: "Roboto", Arial, sans-serif;

  --PrimaryColor: purple;
  --White: #f3eeee,
  --Black: #000,

}

body {
  margin: 0;
  font-family: var(--fonte);
  background-color: var(--White);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


